<h1>Welcome to OneVoice Community</h1>

<% if current_user %>
  <h2>You are logged in</h2>
  <%= link_to 'Back to your profile', user_path(current_user.id) %>
<% else %>
  <p>
    <%#= link_to 'Sign Up', new_user_path %>
    <%#= link_to 'Log In', new_sessions_path %>

    <button class="signin">Sign In</button>

    <button class="signup">New User</button>

    <div class="modal" id="sign_in">
      <%= render "login_form" %>
    </div>

    <div class="modal" id="sign_up">
      <%= render "form" %>
    </div>

  </p>
<% end %>
