<body class="welcome_page">

  <video autoplay loop id="video-background" muted plays-inline>
    <%# <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4"> %>
    <source src="<%= image_path "bueller.mp4" %>" type="video/mp4">
  </video>

  <h1>Welcome to OneVoice</h1>

  <% if current_user %>
    <h2>You are logged in.</h2>
      <%# <button class="your_profile">Your Profile</button> %>
      <%#= link_to 'Back to your profile', user_path(current_user.id) %>
      <button><%= button_to 'Your Profile', user_path(current_user.id) %></button>
  <% else %>
    <p>

      <button class="signin">Sign In</button>

      <button class="signup">New User</button>

      <div class="modal" id="sign_in">
        <%= render "login_form" %>
      </div>

      <div class="modal" id="sign_up">
        <%= render "form" %>
      </div>

    </p>
  <% end %>

  <footer>A Sababa Production &copy; 2112</footer>

</body>
