<body class="welcome_page">

  <video autoplay loop id="video-background" muted plays-inline>
    <source src="<%= image_path "lights.mp4" %>" type="video/mp4">
  </video>

  <div class="welcome_to_onevoice"><h1>Welcome to OneVoice</h1></div>

  <% if current_user %>
    <h2 class="you_are_logged_in">You are logged in.</h2>
    <button class="your_dashboard"><%= link_to 'Your Dashboard', user_path(current_user.id) %></button>

  <% else %>
    <p>
      
      <button class="signin">Sign In</button>
      <button class="signup">New User</button>

      <div class="modal" id="sign_in">
        <%= render "login_form" %>
      </div>

      <div class="modal" id="sign_up">
        <%= render "form" %>
      </div>

    </p>
  <% end %>

</body>
