<body class="welcome_page">

  <h1>Welcome to OneVoice Community</h1>

  <% if current_user %>
    <h2>You are logged in</h2>
    <%= link_to 'Back to your profile', user_path(current_user.id) %>
  <% else %>
    <p>

      <button class="signin">Sign In</button>

      <button class="signup">New User</button>

      <div class="modal" id="sign_in">
        <%= render "login_form" %>
      </div>

      <div class="modal" id="sign_up">
        <%= render "form" %>
      </div>

    </p>
  <% end %>

</body>
