<div class="class_sessions_page">

  <h2><%= @class_room.subject %> &mdash; Class Sessions</h2>

  <div class="class_sessions_list">

    <% @class_sessions.each do |s|  %>
      <%= s.date %> • <%= link_to s.agenda , user_class_room_class_session_path(@user.id, params[:class_room_id], s.id) %>
      <hr>
    <% end %>

  </div>

<div>
