<div class="class_sessions_page">

  <div id="class_sessions_header">
    <%= @class_room.subject %>
  </div>

  <div class="sessions_list">

    <% @class_sessions.reverse.each do |s|  %>
      <div class="single_session">
        <%= s.date %> • <%= link_to s.agenda , user_class_room_class_session_path(@user.id, params[:class_room_id], s.id) %>
      </div>
      <hr>
    <% end %>

  </div>

<div>
