/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,
 button,
 input,
 select,
 textarea {
     color: #222;
 }

 body {
     background-color: gray;
     font-size: 1em;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 ::-moz-selection {
     background: #b3d4fc;
     text-shadow: none;
 }

 ::selection {
     background: #b3d4fc;
     text-shadow: none;
 }

 fieldset {
     border: 0;
     margin: 0;
     padding: 0;
 }

 textarea {
     resize: vertical;
 }

 .chromeframe {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
 }

 /* ==========================================================================
    Helper classes
    ========================================================================== */

 .clearfix:before,
 .clearfix:after {
     content: " ";
     display: table;
 }

 .clearfix:after {
     clear: both;
 }

 .clearfix {
     *zoom: 1;
 }

 /* ==========================================================================
    Author's custom styles ---> START YOUR STYLING BELOW
    ========================================================================== */

 /*html {
   background: url("wallup.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;*/

 .welcome_page {
   background-image: url("wallup.jpg");
   background-size: cover;
 }

 h1 {
   color: white;
   text-align: center;
   font-size: 3em;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-shadow: 2px 2px black;
 }

 h2 {
   color: white;
   font-size: 1em;
   text-align: center;
   font-size: 2em;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

/* ----------------------------------------------------------------- */
/* Login and Signup Forms */
/* ----------------------------------------------------------------- */
 .modal {
     display: none;
     position: relative;
     width: 40%;
     height: 40%;
     margin: 0 auto;
     margin-top: -170px;
     border-radius: 20px;
     background-color: #273746;
     overflow: auto;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

 .user_form {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 20px;
   color: white;
   text-align: center;

 }

 .form_item {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .close_sign_in, .close_sign_up {
   display: block;
   border: none;
   outline: none;
   width: 30px;
   height: 30px;
   font: 20px sans-serif;
   background-color: black;
   color: white;
   border-radius: 5px;
   line-height: 0;
   position: absolute;
   top: 0.5em;
   right: 0.5em;
  }

  #close_x {
   color: white;
   font-weight: bold;
   font-size: 1em;
   margin: 0 auto;
   position: relative;
   width: 100%;
   text-align: center;
   display: inline-block;
   padding-top: 16px;
  }

/* ----------------------------------------------------------------- */

 button {
     display: block;
     border: none;
     outline: none;
     width: 8em;
     height: 3em;
     border-radius: 10px;
     line-height: 2;
     text-align: center;
     font-size: 1.5em;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color: skyblue;
     color: black;
     position: relative;
     margin: auto;
     margin-bottom: 10px;
     top: 4em;
     bottom: 0;
     left: 0;
     right: 0;
     -webkit-transition: all 200ms;
     transition: all 200ms;
     box-shadow: 2px 2px black;
 }

 button.hover {
     background-color: gray;
     color: #666;
 }

 button.submit {
     display: block;
     border: none;
     outline: none;
     width: 100%;
     padding: 0.5em;
     font: 1.5em "Bebas Neue";
     margin: 1em 0;
     background-color: #bab500;
     color: #fcf6ce;
 }

 .getstarted>input.error {
     outline: 2px solid #bc2a39;
 }
