/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,
 button,
 input,
 select,
 textarea {
     color: #222;
 }

 body {
     background-color: lightgray;
     font-size: 1em;
     font-family: 'Lato', sans-serif;
     display: inline;
 }

 a {
   color: mediumblue;
   text-decoration: none;
 }

 a:visited {
   color: mediumblue;
 }

 a:active {
   color: black;
 }

 fieldset {
     border: 0;
     margin: 0;
     padding: 0;
 }

 textarea {
     resize: vertical;
 }

 .chromeframe {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
 }

 /* ==========================================================================
    Helper classes
    ========================================================================== */

 .clearfix:before,
 .clearfix:after {
     content: " ";
     display: table;
 }

 .clearfix:after {
     clear: both;
 }

 .clearfix {
     *zoom: 1;
 }

 /* ==========================================================================
    Author's custom styles ---> START YOUR STYLING BELOW
    ========================================================================== */

 .welcome_page {
   background-image: url("wallup.jpg");
   background-size: cover;
 }

 .you_are_logged_in {
   color: white;
   text-shadow: 2px 2px black;
   margin-bottom: 2em;
   font-family: 'Lato', sans-serif;
 }

 #video-background {
   position: fixed;
   right: 0;
   top: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   text-align: center;
  }

  .welcome_to_onevoice {
    margin-top: 100px;
  }

 h1 {
   color: white;
   text-align: center;
   font-size: 3.5em;
   font-family: 'Merriweather', serif;
   text-shadow: 2px 2px black;
 }

 h2 {
   color: black;
   text-align: center;
   font-size: 1.5em;
   font-family: 'Merriweather', serif;
 }

/* ----------------------------------------------------------------- */
/* Modals/Forms for Login, Signup, Edit Profile */
/* ----------------------------------------------------------------- */
 .modal {
   display: none;
   border: 1px solid black;
   z-index: 100;
   position: absolute;
   width: 40%;
   height: auto;
   margin: 0 auto;
   padding: 20px;
   border-radius: 20px;
   color: black;
   background-color: beige;
   overflow: auto;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.56), 0 17px 50px 0 rgba(0,0,0,0.42);
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Lato', sans-serif;
   z-index: 300;
 }

 .scrollable_list {
   background-color: white;
   border-radius: 10px;
   padding: 20px;
   overflow: scroll;
   max-height: 480px;
 }

 .modal#edit_profile {
   margin-top: 0;
   transform: translate(-50%, -10%);
   max-height: 80vh;
 }

 .modal#sign_in {
   margin-top: 0;
 }

 .modal#sign_up {
   margin-top: 0;
   max-height: 80vh;
 }

 .modal#create_classroom {
   transform: translate(-50%);
 }

 .modal#show_classrooms {
   transform: translate(-50%, -8%);
   max-height: 80vh;
 }

 .modal p {
   font-size: 1em;
 }

 .password_required {
   color: red;
   font-size: 0.6em;
 }

 .user_form {
   font-size: 20px;
   color: black;
   text-align: center;
 }

 .form_item {
   margin: 15px;
 }

 .close_sign_in, .close_sign_up, .close_edit, .close_create, .close_classrooms {
   display: block;
   border: none;
   outline: none;
   width: 30px;
   height: 30px;
   font: 20px sans-serif;
   background-color: pink;
   border: 1px solid black;
   color: white;
   border-radius: 8px;
   line-height: 0;
   position: absolute;
   top: 0.5em;
   right: 0.5em;
  }

  .close_sign_in:hover, .close_sign_up:hover, .close_edit:hover, .close_create:hover, .close_classrooms:hover {
    cursor: pointer;
    background-color: salmon;
  }

  .close_sign_in:active, .close_sign_up:active, .close_edit:active, .close_create:active, .close_classrooms:active {
    background-color: gray;
  }

  #close_x {
   color: black;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: normal;
   font-size: 1em;
   margin: 0 auto;
   position: relative;
   width: 100%;
   text-align: center;
   display: inline-block;
   padding-top: 16px;
  }

/* ----------------------------------------------------------------- */
/*    Buttons:                                                       */
/* ----------------------------------------------------------------- */


 button {
   display: block;
   border: none;
   width: 7em;
   height: 2.5em;
   border-radius: 10px;
   line-height: 2;
   text-align: center;
   font-size: 1.2em;
   font-family: 'Lato', sans-serif;
   background-color: lightskyblue;
   color: black;
   position: relative;
   margin: auto;
   margin-bottom: 10px;
   bottom: 0;
   left: 0;
   right: 0;
   -webkit-transition: all 200ms;
   transition: all 200ms;
   box-shadow: 2px 2px black;
}

button.access {
  margin-right: 5px;
}

 .your_dashboard {
   width: auto;
   padding-left: 20px;
   padding-right: 20px;
 }

 button:hover {
   cursor: pointer;
   background-color: skyblue;
 }

 button:active {
   background-color: lightblue;
   box-shadow: 0px 0px black;
   outline: none;
 }

 button a {
   color: black;
 }

 /* ----------------------------------------------------------------- */
 /* Nav Bar */
 /* ----------------------------------------------------------------- */

 .nav_main {
   width: 100%;
   color: white;
   background-color: black;
   opacity: 0.75;
   position: fixed;
   top: 0;
   font-size: 1.4em;
   font-family: 'Lato', sans-serif;
   z-index: 200;
 }

 .nav_main a {
   color: white;
 }

 .nav_to_profile {
   float: left;
 }

 .nav_to_logout {
   float: right;
 }

 .nav_to_profile, .nav_to_logout {
   position: relative;
   padding: 20px;
   font-size: 1em;
 }

 .nav_user_role {
   font-weight: normal;
 }
