/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,
 button,
 input,
 select,
 textarea {
     color: #222;
 }

 body {
     background-color: gray;
     font-size: 1em;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     display: inline;
 }

 .spacer {
   padding-top: 80px;
 }

 a {
   text-decoration: none;
 }

 ::-moz-selection {
     background: #b3d4fc;
     text-shadow: none;
 }

 ::selection {
     background: #b3d4fc;
     text-shadow: none;
 }

 fieldset {
     border: 0;
     margin: 0;
     padding: 0;
 }

 textarea {
     resize: vertical;
 }

 .chromeframe {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
 }

 /* ==========================================================================
    Helper classes
    ========================================================================== */

 .clearfix:before,
 .clearfix:after {
     content: " ";
     display: table;
 }

 .clearfix:after {
     clear: both;
 }

 .clearfix {
     *zoom: 1;
 }

 /* ==========================================================================
    Author's custom styles ---> START YOUR STYLING BELOW
    ========================================================================== */

 .welcome_page {
   background-image: url("wallup.jpg");
   background-size: cover;
 }

 #video-background {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
  }

 h1 {
   color: white;
   text-align: center;
   font-size: 3em;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-shadow: 2px 2px black;
 }

 h2 {
   color: black;
   text-align: center;
   font-size: 1.5em;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

/* ----------------------------------------------------------------- */
/* Modals/Forms for Login, Signup, Edit Profile */
/* ----------------------------------------------------------------- */
 .modal {
   display: none;
   z-index: 100;
   position: absolute;
   width: 33%;
   height: auto;
   margin: 0 auto;
   padding: 20px;
   border-radius: 20px;
   color: black;
   background-color: beige;
   overflow: auto;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.56), 0 17px 50px 0 rgba(0,0,0,0.42);
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .modal#edit_profile {
   margin-top: 0;
   transform: translate(-50%, -66%);
 }

 .user_form {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 20px;
   color: black;
   text-align: center;
 }

 .form_item {
   margin: 25px;
 }

 .close_sign_in, .close_sign_up, .close_edit {
   display: block;
   border: none;
   outline: none;
   width: 30px;
   height: 30px;
   font: 20px sans-serif;
   background-color: gray;
   border: 1px solid black;
   box-shadow: 1px 1px black;
   color: white;
   border-radius: 8px;
   line-height: 0;
   position: absolute;
   top: 0.5em;
   right: 0.5em;
  }

  #close_x {
   color: black;
   font-weight: normal;
   font-size: 1em;
   margin: 0 auto;
   position: relative;
   width: 100%;
   text-align: center;
   display: inline-block;
   padding-top: 16px;
  }

/* ----------------------------------------------------------------- */

 button {
     display: block;
     border: none;
     outline: none;
     width: 8em;
     height: 3em;
     border-radius: 10px;
     line-height: 2;
     text-align: center;
     font-size: 1.5em;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color: skyblue;
     color: black;
     position: relative;
     margin: auto;
     margin-bottom: 10px;
     top: 4em;
     bottom: 0;
     left: 0;
     right: 0;
     -webkit-transition: all 200ms;
     transition: all 200ms;
     box-shadow: 2px 2px black;
 }

 button.hover {
     background-color: gray;
     color: #666;
 }

 .getstarted>input.error {
     outline: 2px solid #bc2a39;
 }

 /* ----------------------------------------------------------------- */
 /* Nav Bar */
 /* ----------------------------------------------------------------- */

 .nav_main {
   width: 100%;
   color: white;
   background-color: black;
   opacity: 0.75;
   position: fixed;
   top: 0;
   font-size: 1.4em;
 }

 .nav_main a {
   color: white;
 }

 .nav_to_profile {
   float: left;
   font-weight: bold;
 }

 .nav_to_logout {
   float: right;
 }

 .nav_to_profile, .nav_to_logout {
   position: relative;
   padding: 20px;
   font-size: 1em;
 }

 .nav_user_role {
   font-weight: normal;
 }
