// Place all the styles related to the Class_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: lightgray;
}

.your_classrooms {
  text-align: center;
}

#your_classrooms_header {
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

#classroom_name {
  font-size: 1.6em;
  font-weight: bold;
}

#classroom_name a {
  color: black;
}

#group_code, #view_sessions {
  font-size: 1.1em;
}

#student_classroom {
  font-size: 1.2em;
}
