// Place all the styles related to the Class_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#class_sessions_header {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 36px;
}

.class_sessions_list {
  text-align: center;
  font-size: 1.4em;
}
