// Place all the styles related to the Class_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 100%;
}

.class_sessions_page, .create_class_session_page {
  margin-top: 67px;
}

.sessions_list, .create_class_session_form {
  width: 40%;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  font-size: 1.2em;
  padding: 20px;
}

.create_class_session_header {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.create_class_session_form {
  text-align: center;
}

.single_session {
  padding-top: 10px;
  padding-bottom: 10px;
}

#class_sessions_header {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 36px;
}

.all_columns_wrapper {

}

.user_column {
  width: 20%;
  float: left;
  margin-top: 47px;
  height: 80vh;
  position: relative;
  bottom: 0;
  font-size: 1.2em;
  background-color: lightgrey;
  overflow: hidden;
  z-index: -2;
}

.live_session_title_bar {
  text-align: center;
  width: 90%;
  background-color: lightgrey;
  padding-bottom: 12px;
}

.top_subject {
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

.top_agenda, .top_date {
  font-family: 'Lato', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.list_of_users {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: scroll;
  background-color: lightgrey;
}

.centre_column_wrapper {
  width: 60%;
  float: left;
  margin-top: 47px;
}

.survey_column {
  margin-top: 47px;
  width: 20%;
  height: auto;
  float: right;
  font-size: 1.2em;
  background-color: lightgrey;
}

.survey_header {
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#comments {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  max-height: 80vh;
}

.comment {
  background-color: white;
  border-radius: 10px;
  width: 92%;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 12px;
}

.write_new_comment {
  width: 60%;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  font-size: 1.2em;
  padding-top: 15px;
}

.speak {
  padding-left: 20px;
  font-size: 1.2em;
  padding-right: 10px;
}
.author {
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  font-weight: bold;
}

.content {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

li {
  line-height: 0.8;
}

.result_number {
  text-align: center;
  padding: 10px;
}
.result_help, .result_clarity, .result_pace {
  width: 80%;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 150px;
  overflow: scroll;
}

.result_suggestions {
  text-align: center;
}

textarea {
  width: 80%;
}

#submit_comment {
  visibility: hidden;
}
