// Place all the styles related to the Class_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  margin-bottom: 40px;
}

.class_sessions_list {
  text-align: center;
  font-size: 1.4em;
}
