// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  float: left;
  height: 600px;
  margin-left: 20px;
}

.user-nav {
  float: right;
  width: 738px;
  height: 600px;
  display: inline-grid;
}

h3 {
  font-weight: normal;
}

.profile_page_photo {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  background-color: white;
  margin-left: 20px;
  text-align: center;
}
