// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: lightgray;
}

#user-profile {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 47px;
}

.user-image {
  float: left;
  width: 45%;
  padding-right: 10px;
}

.user-nav {
  float: left;
  width: 45%;
  padding-left: 10px;
  margin-top: 20px;
}

.profile_page_photo {
  width: 100%;
}

h3 {
  font-weight: normal;
}

img {
  float: right;
  max-height: 680px;
  max-width: 100%;
}

p {
  font-size: 1.5em;
  margin-top: 0;
}

.access {
  width: 12em;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 1.2em;
  float: left;
}

#user_name {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Merriweather', serif;
}

#user_email {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 8px;
}

#user_role {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 5px;
}

.profile_tools {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 1.5em;
}
